<div class="container">
  <div class="row lg-10  rounded mt-3 d-flex justify-content" style="background-color:#e8e8e6;">
    <div class="row mt-3 mr-5">
      <h1>Mon Profil</h1>
    </div>
    <div class="row lg-10 d-flex justify-content-around rounded ">
      <div class="col-5 border --bs-success-border-subtle rounded">
        <div class="col lg-2 d-flex justify-content-around rounded m-2" >
          <%if @user.avatar.attached?%>
            <%= image_tag @user.avatar, alt: 'avatar', class: 'img-fluid rounded-circle' %>
          <%end%>
        </div>
        <div>
            <%= form_tag user_avatars_path(@user), multipart: true, id: 'avatar-form' do %>
            <%= file_field_tag :avatar, onchange: 'submitForm()' %>
            <% end %>
        </div>
        <div class="row mt-3">
          <h6>Prénom : <%= @user.first_name %></h6>
          <h6>Nom : <%= @user.last_name %></h6> 
          <h6>Email :<%= @user.email %>
          </h6>
        </div>
        <div class="col-12 mx-auto border border-light d-flex justify-content-center rounded mt-3 p-5" style="background-color:#a9a8a0" >
          <h5 style="max-width: 100%; word-wrap: break-word;"> Description <%= @user.description %></h5>
        </div>
        <div class="row lg-12 d-flex justify-content-around margin m-5">
          <p><%= link_to "Modifier le profil", edit_user_registration_path, class: "btn btn-primary" %></p>
          <a href="<%= edit_user_registration_path %>" class="badge bg-primary p-3" style="width: 150px;" onmouseover="changeBackgroundColor(this, 'bg-secondary')" onmouseout="changeBackgroundColor(this, 'bg-primary')">Éditer mon Profil</a>
          <a href="<%= cancel_user_registration_path %>" class="badge bg-warning p-3" data-method="delete" data-confirm="Êtes-vous sûr de vouloir supprimer votre profil ?" style="width: 150px;" onmouseover="changeBackgroundColor(this, 'bg-secondary')" onmouseout="changeBackgroundColor(this, 'bg-warning')">Supprimer mon profil</a>
        </div>
        <script>
          function changeBackgroundColor(element, newClass) {
            element.classList.remove('bg-primary', 'bg-secondary', 'bg-warning');
            element.classList.add(newClass);
          }
        </script>
      </div>
      <div class="col-5 border border-secondary rounded mb-5">
  <h2>Mes commandes passées</h2>
  <div class="bs-component">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Date</th>
          <th scope="col">Détail</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at %></td>
            <td><%= link_to "Voir détail", order_path(order) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <div>






  </div>

</div>

<script>
  function submitForm() {
    document.getElementById('avatar-form').submit();
  }
</script>
